.Header {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    overflow-x:hidden;
    background-color: white;
}
.LeftBox {
    margin-left: 5vw;
    min-width: 35vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: left;


    .logoImage {
        width: 30px;
        height: 30px;
        margin-bottom: 2px;
    }
    .Logo {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .LogoText {
        font-family: "Comfortaa";
        font-size: 1.3em;
        margin-left: 13px;
    }
    .Logo:active, .Logo:visited {
        color: black;
    }
}
.RightBox {
    margin-right: 5vw;
}
.Button {
    margin: 10px 10px 10px 0px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.1s;
    border-radius: 6px;
    background-clip: padding-box;
    background-color: white ;
    position: relative;
    box-sizing: border-box;
    color: #3D4F9F;


    &:focus {
        outline: none;
    }
}

.SignIn {
    padding: 0.5rem 2rem;
    border: 2px solid #D2E1FF;
    // background-color: #3D4F9F;
    &:hover,
    &:active {
        background: #D2E1FF;
    }
}
.SignUp {
    padding: 0.5rem 0.75rem;
    border: 2px solid #D2E1FF;
    background: #D2E1FF;

    &:hover,
    &:active {
        background: #b4cdff;
    }
}
.Logout {
    padding: 0.5rem 1rem;
    border: 2px solid #D2E1FF;
    background: #D2E1FF;

    &:hover,
    &:active {
        background: #b4cdff;
    }
}
.Profile {
    padding: 0.5rem 1rem;
    border: 2px solid #D2E1FF;

    &:hover,
    &:active {
        background: #D2E1FF;
    }

}




@media all and (max-width: 1100px) {
    .LeftBox {
        margin-left: 2vw;
    }
    .RightBox {
        margin-right: 2vw;
    }
} 
@media all and (max-width: 960px) {
    .RightBox {
        display: none;
    }
    .LeftBox {
        margin-left: 5vw;
    }
} 
@media all and (max-width: 380px) {
    .LeftBox {
        justify-content: center;
    }
}

