*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  *::-webkit-scrollbar-track {
    background-color: #d2e1ff;
    border-radius: 10px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #6b9affbd;
    border-radius: 10px;
  }